
h1{
  font-family: Monoton;
  font-size:25px;
  margin:0px;
  width:200px;
  background-color: white;
  text-align:left;
  width:max-content;
}
p{
  font-size:25px;
}
#title{
  font-size:100px;
  text-align:center;
  width: 100%;
  width:max-content;
}

#container{

  width:100%;



}
#cartLogo{
  width:100px;


}
#body{
  display:inline-block;
  height:100%;
  width:100%;
  text-align:center;
}


#tabBAr{

  border: 5px solid black;

  background-color: white;
  width:100%;
  display:flex;
  justify-content:space-between;

  height:39px;





}
#homeTab{
  width:150px;




}
#cart{
  font-size:40px;

  width:100px;
  float:right;


}
#chamoyTab{
  background-color:white;
  width:175px;


}
#applesTab{
  background-color:white;
  width:150px;


}
#gummiesTab{
  background-color:white;
  width:200px;


}

#rightBar{
  float:right;
  height:100%;
  width:45%;

}
#text{
  float:left;
  height:100%;
  width:50%
}
