
h1{
  font-family: Monoton;
  font-size:25px;
  margin:0px;
  width:200px;
  background-color: #AFEEEE;
  text-align:left;
  width:max-content;
}

p{
  font-size:25px;
}

body {
  margin-right:8px;
  margin-left:16px;

}

ul{
  list-style:none;
  display: flex;
  justify-content: space-evenly;
  width=100%;

}
li{
  float:left;
}
#title{
  font-size:100px;
  text-align:center;
  width: 98%;

}

#container{

  width:100%;
  background-color:#AFEEEE;
  height:1100px;




}
#cartLogo{
  width:100px;


}
#body{
  display:inline-block;
  height:100%;
  width:100%;
  text-align:center;
}


#tabBAr{

  border: 5px solid black;

  background-color: #AFEEEE;
  width:99%;
  display:flex;
  justify-content:space-between;

  height:39px;





}
#homeTab{
  width:150px;




}
#cart{
  font-size:40px;

  width:100px;
  float:right;


}
#chamoyTab{

  width:175px;


}
#applesTab{

  width:150px;


}
#gummiesTab{

  width:200px;


}

#rightBar{
  float:right;
  height:100%;
  width:45%;

}
#text{
  float:left;
  height:100%;
  width:50%
}
.section{
  width:99.3%;
  height:1200px;
  background-color:white;
}
.section1{
  width:99%;
  height:1200px;
  background-color:#AFEEEE;
}
.container{
  border:1px solid black;
  width:400px;
  height:550px;
}
#section{
  border:1px solid-black;
}
